<!DOCTYPE html>
<html>
<head>
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<script src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<link rel="stylesheet" type="text/css" href="css/stylo.css" media="all">


	<title>Uso api maps</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<script type="text/javascript" src="js/ejecuta.js"></script>
	    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXTM8tcD_fVL09AEKUKhFyundS8el6C70&callback=initMap">
    </script>										   <!--AIzaSyAXTM8tcD_fVL09AEKUKhFyundS8el6C70-->
    												   <!--AIzaSyBz_v2RJjOKfPUtGKaQeWMOaQFAC9-XQqU   key profe-->

</head>
<body>
	 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Escuelas SEP</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Principal</a></li>
        <li class="active"><a href="#">Municipio: </a></li>
            <select class="selecciona" id="municipio">
        
      </select>

      <li class="active" style="position: absolute;left: 60%;height: 100%;width: auto;"> <a href=""> TIPO: </a></li>
      <select class="selecciona2" id="nivel">
        <option value="all">TODOS</option>
      </select>
      

    </ul>
  </div>
</nav> 


<div class="panel1">
<button class="botones" style=" background: #00f;"></button><b>BIBLIOTECA</b> 
<button class="botones" style=" background: #f00;"></button><b>SUPERVISION DE ZONA DE EDUCACION</b>
<button class="botones" style=" background: #ffe333;"></button><b>JEFATURA DE SECTOR</b>
<button class="botones" style=" background: #9fff33;"></button><b>SERVICIO REGIONAL</b>
<button class="botones" style=" background: #33ffc7;"></button><b>COORDINACION DE ZONA DE EDUCACION FISICA</b>
<button class="botones" style=" background: #33acff;"></button><b>ALMACEN DE LIBROS GRATUITOS</b>
<button class="botones" style=" background: #3349ff;"></button><b>ADMINISTRATIVO</b>
<button class="botones" style=" background: #b533ff;"></button><b>APOYO A LA EDUCACION</b>
<button class="botones" style=" background: #fc33ff;"></button><b>CENTRO CULTURAL</b>
<button class="botones" style=" background: #ff3333;"></button><b>ESCUELA</b>
<button class="botones" style=" background: #bbb5b5;"></button><b>DESARROLLO COMUNITARIO</b>
<button class="botones" style=" background: #318b22;"></button><b>CENTRO DE INVESTIGACION</b>
<button class="botones" style=" background: #efecbf;"></button><b> RECTORIA</b>
<button class="botones" style=" background: #5d6d7e;"></button><b>ASISTENCIAL</b>
<button class="botones" style=" background: #2e86c1;"></button><b>BOLSA (EN LIQUIDACION)</b>
<button class="botones" style=" background: #d7bde2;"></button><b>CENTRO DE MAESTROS</b>
<button class="botones" style=" background: #f2d7d5;"></button><b>PLANTEL (MEDIA SUPERIOR)</b>
<!--<b style="background: white; color: #00f;"> BIBLIOTECA</b>-->
</div>

	<div id="map">
		
	</div>





</body>
</html>